# Import Libraries

In [150]:
import pandas as pd

# Extract Source Data

In [151]:
# Extract data from a all Excel files
business_services_vertical_df = pd.read_excel("/Users/ankur/Documents/GitHub/data-migration-assessment/data/source/Business Services Pipeline.xlsx", skiprows=5)
consumer_retail_and_healthcare_vertical_df = pd.read_excel("/Users/ankur/Documents/GitHub/data-migration-assessment/data/source/Consumer Retail and Healthcare Pipeline.xlsx",skiprows=8).drop(columns=['Unnamed: 0'])
contacts_df1 = pd.read_excel("/Users/ankur/Documents/GitHub/data-migration-assessment/data/source/Contacts.xlsx", sheet_name="Tier 1's")
contacts_df2 = pd.read_excel("/Users/ankur/Documents/GitHub/data-migration-assessment/data/source/Contacts.xlsx", sheet_name="Tier 2's")
events_df1 = pd.read_excel("/Users/ankur/Documents/GitHub/data-migration-assessment/data/source/Events.xlsx",sheet_name="Leaders and Partners Dinner")
events_df2 = pd.read_excel("/Users/ankur/Documents/GitHub/data-migration-assessment/data/source/Events.xlsx",sheet_name="2019 Market Re-Cap")
private_equity_companies_df = pd.read_excel("/Users/ankur/Documents/GitHub/data-migration-assessment/data/source/PE Comps.xlsx",skiprows=2)

# Initial Data Cleansing

In [152]:
# Cleansing the business services vertical DataFrame to add a new column
business_services_vertical_df['VerticalDepartment'] = "Business Services"
bs_vertical_cleansed_df = business_services_vertical_df

# Removed NULL rows from the consumer retail and healthcare vertical DataFrame
consumer_retail_and_healthcare_vertical_df = consumer_retail_and_healthcare_vertical_df[consumer_retail_and_healthcare_vertical_df['Company Name'].notna() & consumer_retail_and_healthcare_vertical_df['Lead MD'].notna()]

#Add a new column to the cleansed DataFrame
consumer_retail_and_healthcare_vertical_df['VerticalDepartment'] = "Consumer Retail and Healthcare"
crh_vertical_cleansed_df = consumer_retail_and_healthcare_vertical_df

# Concatenate the contacts DataFrames
contacts_cleansed_df = pd.concat([contacts_df1, contacts_df2], ignore_index=True)

# Set the 'EventType' for each event DataFrame
events_df1['EventType'] = 'Leaders and Partners Dinner'
events_df2['EventType'] = '2019 Market Re-Cap'

# Concatenate the events DataFrames
events_cleansed_df = pd.concat([events_df1, events_df2], ignore_index=True)

# Cleansing the private equity companies DataFrame
private_equity_companies_cleansed_df = private_equity_companies_df.copy()

In [153]:
# Concatenate the cleansed vertical DataFrames
all_vertical_deals_df = pd.concat([bs_vertical_cleansed_df, crh_vertical_cleansed_df], ignore_index=True)

# Display Extracted Data

In [154]:
all_vertical_deals_df.head()  # Display the first few rows of the concatenated DataFrame

,Company Name,Project Name,Date Added,Invest. Bank,Banker,Sourcing,Transaction Type,LTM Revenue,LTM EBITDA,2014A EBITDA,...,Current Owner,Business Description,Lead MD,VerticalDepartment,Banker Email,Banker Phone Number,Est. Equity Investment,Portfolio Company Status,Active Stage,Passed Rationale
0,Shermco,NaN,2018-02-02 00:00:00,Harris Williams,NaN,Auction,Sponsor to Sponsor,NaN,NaN,NaN,...,Oaktree,"Electrical testing, maintenance, and commissio...",Jeannie Blackwood,Business Services,NaN,NaN,NaN,NaN,NaN,NaN
1,Kastle Systems,NaN,2018-02-02 00:00:00,NaN,NaN,Trusted Netwok,Sponsor to Sponsor,NaN,NaN,NaN,...,Venturehouse,"Provider of comprehensive, turnkey security so...",Andrew Mah,Business Services,NaN,NaN,NaN,NaN,NaN,NaN
2,CLEAResult,NaN,2018-02-02 00:00:00,NaN,NaN,Trusted Netwok,Sponsor to Sponsor,NaN,NaN,NaN,...,General Atlantic,Provider of energy efficiency and demand manag...,Kripa Shah,Business Services,NaN,NaN,NaN,NaN,NaN,NaN
3,PLH,NaN,2018-02-02 00:00:00,Barclays,NaN,Auction,Sponsor to Sponsor,NaN,NaN,NaN,...,Energy Capital Partners,Specialty contractor serving the electric powe...,Russ Barner,Business Services,NaN,NaN,NaN,NaN,NaN,NaN
4,BBB Industries,NaN,2018-02-02 00:00:00,"Baird, Jefferies",NaN,Auction,Sponsor to Sponsor,NaN,NaN,NaN,...,Pamplona,Provider of remanufactured replacement parts t...,Matthew Kordonowy,Business Services,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
contacts_cleansed_df.head()  # Display the first few rows of the contacts DataFrame

,Firm,Name,Title,Group,Sub-Vertical,E-mail,Phone,Secondary Phone,City,Birthday,Coverage Person,Preferred Contact Method
0,Harris Williams,Robert Baltimore,Managing Director,Business Services,Business Services,BBaltimore@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",2/25/1966,Hannah Jumper,Email
1,Harris Williams,Brian Lucas,Managing Director,Business Services,Business Services,blucas@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",9/3/1953,Kripa Shah,Business Phone
2,Harris Williams,Luke Semple,Managing Director,Business Services,Business Services,lsemple@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",3/27/1962,Emily Royal,Cell Phone
3,Harris Williams,Drew Spitzer,Managing Director,Business Services,Business Services,aspitzer@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",4/28/1964,Russ Barner,Business Phone
4,Harris Williams,Derek Lewis,Managing Director,Business Services,Business Services,dlewis@harriswilliams.com,(804) 648-0072,NaN,"Richmond, VA",4/24/1971,Daniel Ding,Cell Phone

In [156]:
events_cleansed_df.head()  # Display the first few rows of the events DataFrame

,Name,E-mail,Attendee Status,EventType
0,Rob Baltimore,BBaltimore@harriswilliams.com,RSVP'd,Leaders and Partners Dinner
1,Brian Lucas,blucas@harriswilliams.com,Declined,Leaders and Partners Dinner
2,Luke Semple,lsemple@harriswilliams.com,Checked In,Leaders and Partners Dinner
3,Andrew Spitzer,aspitzer@harriswilliams.com,No Show,Leaders and Partners Dinner
4,Derek Lewis,dlewis@harriswilliams.com,Declined,Leaders and Partners Dinner

In [157]:
private_equity_companies_cleansed_df.head()  # Display the first few rows of the private equity companies DataFrame

,Priority,Company Name,Website,AUM\n(Bns),Sectors,Sample Portfolio Companies,Contact Name 1,Contact 2,Comments
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AEA Investors LP,www.aeainvestors.com,10.0,- Consumer products\n- Industrial,- Traeger (Current)\n- Barnet (Cosmetic),"Martin Eltrich, III, Partner",NaN,NaN
2,NaN,Audax Private Equity,www.audaxprivateequity.com,11.5,- Industrial,- Chem Specialty Chemicals,"Christopher Satti, Business Dev\n(857) 294-6640",NaN,- We have experience with specialty chemicals ...
3,NaN,CCMP Capital,www.ccmpcapital.com,12.0,- Consumer products\n- Industrial,- Jetro Cash & Carry\n- Shoes for Crews,Richard Zannino,Will Jaudes \nPrincipal,- Are big on Consumer and industrial
4,NaN,Clayton Dubilier & Rice,www.cdr-inc.com,18.0,- Consumer products\n- Industrial,- Roofing Supply Group\n- US Foods\n- HD Supply,NaN,NaN,NaN

# Export Data into a Raw Folder

In [158]:
# Export Data into a raw folder
all_vertical_deals_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/raw/all_vertical_deals.csv', index=False)
contacts_cleansed_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/raw/contacts.csv', index=False)
events_cleansed_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/raw/events.csv', index=False)
private_equity_companies_cleansed_df.to_csv('/Users/ankur/Documents/GitHub/data-migration-assessment/data/raw/private_equity_companies.csv', index=False)