# Import Libraries

In [907]:
import pandas as pd
pd.set_option('display.max_columns', None)

# Importind DataFrames

In [908]:
%store -r all_verticals_deals_df
%store -r contacts_df
%store -r events_df
%store -r private_equity_companies_df

# Mapping to 'Companies' Target Data Model

In [909]:
#Create columns for the 'Companies' DataFrame
columns = [
    "Id",
    "CompanyName",
    "CompanyTypeId",
    "PrivateEquityCompanySectors",
    "PrivateEquityPortfolioCompanies",
    "VerticalId",
    "SubVerticalId",
    "NumberOfEmployees",
    "LTMRevenue",
    "LTM EBITA",
    "CurrencyId",
    "EnterpriseValue",
    "YearFounded",
    "ParentCompany",
    "AssetsUnderManagement",
    "AddressLine1",
    "AddressLine2",
    "City",
    "PostCode",
    "Country",
    "Website",
    "AdditionalDescription",
    "CreatedAt",
    "CreatedBy",
    "UpdatedAt",
    "UpdatedBy",
    "File"
]

# Create an empty DataFrame with the columns
company_df = pd.DataFrame(columns=columns)

In [910]:
# Populate the Company DataFrame with Deal's Company Information
transform_company_df = pd.DataFrame()
transform_company_df['CompanyName'] = all_verticals_deals_df['Company Name']
transform_company_df['CompanyTypeId'] = 'Private/Public'
transform_company_df['LTMRevenue'] = all_verticals_deals_df['LTM Revenue']
transform_company_df['LTM EBITA'] = all_verticals_deals_df['LTM EBITDA']
transform_company_df['EnterpriseValue'] = all_verticals_deals_df['Enterprise Value']
transform_company_df['VerticalId'] = all_verticals_deals_df['Vertical']
transform_company_df['SubVerticalId'] = all_verticals_deals_df['Sub Vertical']
transform_company_df['File'] = "all_verticals_deals"

In [911]:
# Populate the Company DataFrame with Deals Investment Firm
transform_investment_df = pd.DataFrame()
transform_investment_df['CompanyName'] = all_verticals_deals_df['Invest. Bank']
transform_investment_df['CompanyTypeId'] = 'Investment Firm'
transform_investment_df['File'] = "all_verticals_deals"

In [912]:
# Populate the Company DataFrame with Private Equity Companies
transform_pe_df = pd.DataFrame()
transform_pe_df['CompanyName'] = all_verticals_deals_df['Current Owner']
transform_pe_df['CompanyTypeId'] = 'Private Equity'
transform_pe_df['File'] = "all_verticals_deals"

In [913]:
# Populate the Company DataFrame with Investment Bank
transform_investment_contact_df = pd.DataFrame()
transform_investment_contact_df['CompanyName'] = contacts_df['Firm']
transform_investment_contact_df['CompanyTypeId'] = 'Investment Firm'
transform_investment_contact_df['File'] = 'contacts'

In [914]:
#Populate the Company DataFrame with Private Equity Companies
transform_private_equity_df = pd.DataFrame()
transform_private_equity_df['CompanyName'] = private_equity_companies_df['Company Name']
transform_private_equity_df['CompanyTypeId'] = 'Private Equity'
transform_private_equity_df['Website'] = private_equity_companies_df['Website']
transform_private_equity_df['CurrencyId'] = 'USD'
transform_private_equity_df['AssetsUnderManagement'] = private_equity_companies_df['AUM\n(Bns)']
transform_private_equity_df['PrivateEquityCompanySectors'] = private_equity_companies_df['Sectors']
transform_private_equity_df['PrivateEquityPortfolioCompanies'] = private_equity_companies_df['Sample Portfolio Companies']
transform_private_equity_df['AdditionalDescription'] = private_equity_companies_df['Comments']
transform_investment_contact_df['File'] = 'private_equity_companies'

In [915]:
# Concatenate all transformed DataFrames into a single DataFrame
all_company_transformed_df = pd.concat([
    transform_company_df,
    transform_investment_df,
    transform_pe_df,
    transform_investment_contact_df,
    transform_private_equity_df
], ignore_index=True)

In [916]:
all_company_transformed_df = all_company_transformed_df.fillna('')

In [917]:
#Display the first few rows of the transformed DataFrame
all_company_transformed_df.head()

,CompanyName,CompanyTypeId,LTMRevenue,LTM EBITA,EnterpriseValue,VerticalId,SubVerticalId,File,Website,CurrencyId,AssetsUnderManagement,PrivateEquityCompanySectors,PrivateEquityPortfolioCompanies,AdditionalDescription
0,Shermco,Private/Public,,,267,Business Services,"Testing, Inspection & Certificaiton",all_verticals_deals,,,,,,
1,Kastle Systems,Private/Public,,,,Business Services,Facilities Services,all_verticals_deals,,,,,,
2,CLEAResult,Private/Public,,,,Business Services,Facilities Services,all_verticals_deals,,,,,,
3,PLH,Private/Public,,,680,Business Services,Industrial & Environmental Services,all_verticals_deals,,,,,,
4,BBB Industries,Private/Public,,,1000,Business Services,Specialty Distribution,all_verticals_deals,,,,,,

In [918]:
#Check for each column in the transformed DataFrame is part of the original Company DataFrame
if not set(all_company_transformed_df.columns).issubset(company_df.columns):
    raise ValueError(f"all_company_transformed_df has columns not in company_df: {set(all_company_transformed_df.columns) - set(company_df.columns)}")
else:
    print("All columns matched successfully.")

All columns matched successfully.

# Data Cleansing

In [919]:
all_company_transformed_filter_df = all_company_transformed_df[all_company_transformed_df['CompanyName'] != '']

In [920]:
all_company_transformed_filter_df['PrivateEquityCompanySectors'].replace('-', '', inplace=True)
all_company_transformed_filter_df['PrivateEquityPortfolioCompanies'].replace('-', '', inplace=True)

/var/folders/p8/90kk2fgn4r9_jqd3phx1ltnm0000gn/T/ipykernel_33331/4096840066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_company_transformed_filter_df['PrivateEquityCompanySectors'].replace('-', '', inplace=True)
/var/folders/p8/90kk2fgn4r9_jqd3phx1ltnm0000gn/T/ipykernel_33331/4096840066.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_company_transformed_filter_df['PrivateEquityPortfolioCompanies'].replace('-', '', inplace=True)

In [921]:
all_company_transformed_filter_df['CompanyName'].value_counts()

Goldman Sachs           33
Credit Suisse           30
Morgan Stanely          30
Harris Williams         29
Citi                    26
                        ..
US Fitness               1
Pier 1 Imports           1
Snooze Eatery            1
Healthtronics            1
TSG Cosumer Partners     1
Name: CompanyName, Length: 601, dtype: int64

In [922]:
# Group by 'all_company_transformed_df' and concatenate the results
all_company_df = all_company_transformed_filter_df.groupby('CompanyName').agg(lambda x: ' '.join(x.astype(str))).reset_index()
all_company_df.head()

,CompanyName,CompanyTypeId,LTMRevenue,LTM EBITA,EnterpriseValue,VerticalId,SubVerticalId,File,Website,CurrencyId,AssetsUnderManagement,PrivateEquityCompanySectors,PrivateEquityPortfolioCompanies,AdditionalDescription
0,100% employee owned (ESOP),Private Equity,,,,,,all_verticals_deals,,,,,,
1,3i,Private Equity,,,,,,all_verticals_deals,,,,,,
2,5-Hour Energy,Private/Public,,265.0,,Consumer Retail,Food & Beverage,all_verticals_deals,,,,,,
3,A Place for Mom,Private/Public,,,269,Business Services,Marketing Services,all_verticals_deals,,,,,,
4,ABC Billing,Private/Public,,,,Business Services,Payments,all_verticals_deals,,,,,,

In [923]:
# Fill NaN values with empty strings
all_company_df = all_company_df.fillna('')

In [924]:
# Replacing column values based on substring matching
all_company_df.loc[all_company_df['CompanyTypeId'].str.contains('Investment Firm', case=False, na=False), 'CompanyTypeId'] = 'Investment Firm'
all_company_df.loc[all_company_df['CompanyTypeId'].str.contains('Private Equity', case=False, na=False), 'CompanyTypeId'] = 'Private Equity'
all_company_df.loc[~all_company_df['CompanyTypeId'].isin(['Investment Firm', 'Private Equity']), 'CompanyTypeId'] = 'Private/Public'

In [925]:
all_company_df[['CompanyName','VerticalId']].value_counts()

CompanyName                 VerticalId
100% employee owned (ESOP)                       1
Organix                     Business Services    1
Osmose                      Business Services    1
PDC Brands                  Consumer Retail      1
PJSC                                             1
                                                ..
FMG                         Business Services    1
FT Partners                                      1
Fast Track It               Consumer Retail      1
Ferraro Foods               Consumer Retail      1
umentioned                  Consumer Retail      1
Length: 601, dtype: int64

In [926]:
# Replacing column values based on substring matching
all_company_df.loc[all_company_df['VerticalId'].str.contains('Business Services', case=False, na=False), 'VerticalId'] = 'Business Services'
all_company_df.loc[all_company_df['VerticalId'].str.contains('Marketing Service', case=False, na=False), 'VerticalId'] = 'Marketing Service'
all_company_df.loc[all_company_df['VerticalId'].str.contains('Financial Institutions', case=False, na=False), 'VerticalId'] = 'Financial Institutions'
all_company_df.loc[all_company_df['VerticalId'].str.contains('Financial Services', case=False, na=False), 'VerticalId'] = 'Financial Services'

In [927]:
all_company_df['SubVerticalId'].value_counts()

                                       220
Food & Beverage                         35
Restaurants                             29
Retail                                  27
Consumer Products                       24
Industrial & Environmental Services     23
                                        22
Retail and Consumer Health              16
Providers                               15
Payments                                14
Consumer Services                       14
Technology Services                     13
Financial Services                      11
Specialty Distribution                  10
Testing, Inspection & Certificaiton      9
                                         9
Facilities Services                      8
Marketing Services                       7
Professional Services                    7
Provider Outsourcing                     7
Other                                    6
Financial Technology                     6
Medical Devices / Products               6
Banks / Lending                          6
Pharma / Pharma Services                 5
Payor Services                           5
                                         4
Transportation & Logistics               3
                                         3
                                         3
                                         2
                                         2
                                         2
                                         2
                                         2
                                         2
BPO                                      2
                                         1
                                         1
Tranportation & Logistics                1
Insurance                                1
                                         1
                                         1
Healthcare                               1
IT Services                              1
                                         1
Distribution                             1
                                         1
Asset Management                         1
                                         1
                                         1
                                         1
                                         1
Data & Information Services              1
Facility Services                        1
Education Services                       1
Human Capital Services                   1
Name: SubVerticalId, dtype: int64

In [928]:
all_company_df['CompanyTypeId'].value_counts()

Private/Public     318
Private Equity     155
Investment Firm    128
Name: CompanyTypeId, dtype: int64

In [929]:
all_company_df['Id'] = ['COM_{:03d}'.format(i) for i in range(1, len(all_company_df) + 1)]

In [930]:
all_company_df

,CompanyName,CompanyTypeId,LTMRevenue,LTM EBITA,EnterpriseValue,VerticalId,SubVerticalId,File,Website,CurrencyId,AssetsUnderManagement,PrivateEquityCompanySectors,PrivateEquityPortfolioCompanies,AdditionalDescription,Id
0,100% employee owned (ESOP),Private Equity,,,,,,all_verticals_deals,,,,,,,COM_001
1,3i,Private Equity,,,,,,all_verticals_deals,,,,,,,COM_002
2,5-Hour Energy,Private/Public,,265.0,,Consumer Retail,Food & Beverage,all_verticals_deals,,,,,,,COM_003
3,A Place for Mom,Private/Public,,,269,Business Services,Marketing Services,all_verticals_deals,,,,,,,COM_004
4,ABC Billing,Private/Public,,,,Business Services,Payments,all_verticals_deals,,,,,,,COM_005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,Zoë's Kitchen,Private/Public,,30.8,346.5,Consumer Retail,Restaurants,all_verticals_deals,,,,,,,COM_597
597,iCracked Inc.,Private/Public,,50.0,,Consumer Retail,Restaurants,all_verticals_deals,,,,,,,COM_598
598,iHerb,Private/Public,,,,Consumer Retail,Food & Beverage,all_verticals_deals,,,,,,,COM_599
599,littleBits,Private/Public,,66.3,,Consumer Retail,Food & Beverage,all_verticals_deals,,,,,,,COM_600
600,umentioned,Private/Public,,11.8,160.0,Consumer Retail,Consumer Services,all_verticals_deals,,,,,,,COM_601

In [931]:
# Concatenate result DataFrames with company_df to bring all columns together
company_transformed= pd.concat([
    company_df,
    all_company_df
], ignore_index=True)

In [932]:
# Fill NaN values with empty strings
company_transformed = company_transformed.fillna('')

In [933]:
# Trim all string values
company_transformed = company_transformed.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Validate Companies Data Model

In [934]:
#Check for each column in the transformed DataFrame is part of the original Company DataFrame
if not set(company_df.columns).issubset(company_transformed.columns):
    raise ValueError(f"company_df has columns not in company_transformed: {set(company_df.columns) - set(company_transformed.columns)}")
else:
    print("All columns matched successfully.")

All columns matched successfully.

In [935]:
company_transformed = company_transformed.drop('File', axis=1)

In [936]:
company_transformed

,Id,CompanyName,CompanyTypeId,PrivateEquityCompanySectors,PrivateEquityPortfolioCompanies,VerticalId,SubVerticalId,NumberOfEmployees,LTMRevenue,LTM EBITA,CurrencyId,EnterpriseValue,YearFounded,ParentCompany,AssetsUnderManagement,AddressLine1,AddressLine2,City,PostCode,Country,Website,AdditionalDescription,CreatedAt,CreatedBy,UpdatedAt,UpdatedBy
0,COM_001,100% employee owned (ESOP),Private Equity,,,,,,,,,,,,,,,,,,,,,,,
1,COM_002,3i,Private Equity,,,,,,,,,,,,,,,,,,,,,,,
2,COM_003,5-Hour Energy,Private/Public,,,Consumer Retail,Food & Beverage,,,265.0,,,,,,,,,,,,,,,,
3,COM_004,A Place for Mom,Private/Public,,,Business Services,Marketing Services,,,,,269,,,,,,,,,,,,,,
4,COM_005,ABC Billing,Private/Public,,,Business Services,Payments,,,,,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,COM_597,Zoë's Kitchen,Private/Public,,,Consumer Retail,Restaurants,,,30.8,,346.5,,,,,,,,,,,,,,
597,COM_598,iCracked Inc.,Private/Public,,,Consumer Retail,Restaurants,,,50.0,,,,,,,,,,,,,,,,
598,COM_599,iHerb,Private/Public,,,Consumer Retail,Food & Beverage,,,,,,,,,,,,,,,,,,,
599,COM_600,littleBits,Private/Public,,,Consumer Retail,Food & Beverage,,,66.3,,,,,,,,,,,,,,,,
600,COM_601,umentioned,Private/Public,,,Consumer Retail,Consumer Services,,,11.8,,160.0,,,,,,,,,,,,,,

# Export Companies Data

In [937]:
%store company_transformed

Stored 'company_transformed' (DataFrame)